/*Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.*/

input {
  background-color: white;
}
button {
  color: white;
  background-color: lightblue;
}
