<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Bookstore</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body data-ng-app="BookstoreApp">
  <header>
    <h1>The Bookstore</h1>
  </header>

  <main class="container" data-ng-controller="BooksController" data-ng-init="getAll()">

    <h2>Get Smart. Read.</h2>

    <p>Slider bootstrap javascript page dom page speed jQuery. App dom SQL FTP Django sql javascript angular page html dom python TCP page speed bootstrap tablet markdown ember css puppet css jQuery javascript c# yaml. Slider FTP python page puppet TCP. Wireshark page speed javascript tablet yaml dom. Swift yaml sql dom hosting bootstrap page html markdown tablet FTP ember angular dom Django javascript python SQL puppet javascript jQuery TCP c#.</p>

    <ul id="bookList" class="seven columns" >
      <h3 id="listHead">Book List:</h3>
      <li class="book" data-ng-repeat="book in books">
        {{book.title}}
        <span data-ng-hide="book.editing">
          <button data-ng-click="edit(book)">Edit Book</button>
          <button data-ng-click="delete(book)">Delete Book</button>
        </span>

        <form name="editBookForm" data-ng-show="book.editing" data-ng-submit="update(book)">
          <h3>Edit Details for {{book.title}}</h3>
          <label for="bookTitle">Title:</label>
          <input type="text" id="bookTitle" required data-ng-model="book.title">

          <label for="bookAuthor">Author: </label>
          <input type="text" id="bookAuthor" data-ng-model="book.author">

          <label for="bookPages">Pages:</label>
          <input type="text" id="bookPages" data-ng-model="book.pages">

          <label for="bookRating">Rating:</label>
          <input type="text" id="bookRating" data-ng-model="book.rating" placeholder="Excellent">

          <br>
          <button type="submit">Submit Changes</button>
        </form>

        <button data-ng-show="book.editing" data-ng-click="cancelEdit(book)">Cancel Changes</button>
      </li>
    </ul>

    <form id="addBookForm" class="four columns" data-ng-submit="create(newBook)">
      <h3>Add New Book:</h3>
      <label for="newBookTitle">Title:</label>
      <input type="text" id="newBookTitle" required data-ng-model="newBook.title">

      <label for="newBookAuthor">Author:</label>
      <input type="text" id="newBookAuthor" data-ng-model="newBook.author">

      <label for="newBookPages">Pages:</label>
      <input type="text" id="newBookPages" data-ng-model="newBook.pages">

      <label for="newBookRating">Rating:</label>
      <input type="text" id="newBookRating" data-ng-model="newBook.rating" placeholder="Excellent">

      <button type="submit" data-ng-disabled="newBookForm.$invalid">Add New Book</button>
    </form>
  </main>

  <img src="book.png" alt="Book">

  <footer>
    <p>Sketch Django html bootstrap javascript sql TCP. Material page hosting c# dom bootstrap page speed. Angular yaml bootstrap puppet angular page TCP ember markdown dom javascript page speed hosting c# sql jQuery python tablet SQL dom css javascript Django. Slider jQuery css bootstrap markdown TCP ember dom sql puppet SQL tablet javascript html javascript c# css hosting angular. Wireshark page speed puppet SQL python dom.</p>
  </footer>

  <script src="/bundle.js"></script>
</body>
</html>
